.pull-left {
    float: left;
}

.pull-right {
    float: right;
    margin: 100px 200px 10px 10px;
}

.block {
    display: block;
    float: left;
    background-color: #87CEEB;
    width: 100%;
}

.tag-list{
    border: 0px;
}

.list-special .list-group-item:first-child {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.list-special .list-group-item:last-child {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
