{% extends "base_category.html" %}

{% block content %}
<div class="posts">
    {% if error %}
        <h2 class="post-title">没有相关文章</h2>
    {% else %}
    {% for post in post_list %}
        <section class="post">
            <header class="post-header">
                <h2><a style="font-size: 22px" href="{% url "detail" id=post.id %}"><font color="black">{{ post.title }}</font></a></h2>

                <p class="post-meta">
                Time: {{ post.date_time |date:"D d M Y"}}
                <a href="{% url "search_tag" tag=post.category %}"><font color="black">{{ post.category|title }}</font></a>
                </p>
            </header>
        </section>
    {% endfor %}
    {% endif %}
</div><!-- /.blog-post -->
{% endblock %}
