<!--base_category.html-->
{% extends "base.html" %}

{% block category %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<style type="text/css">
div#category {height: 1400px; width:300px; float:right; list-style:none; margin-left: 50px; margin-top: 20px}
</style>
<div id="category" class="widget">
    <style scoped>
        .button-success {background: rgb(255, 255, 255)}
    </style>
    <h1 style="font-size: 15px; margin-left:14px">Tags</h1>
    {% for tag in tag_list %}
        <li>
        <a class="button-success pure-button" href="{% url "search_tag" tag=tag.name %}">{{ tag.name }}<span class="text-right">{{ tag.num }}</span></a>
        </li>
    {% endfor %}
</div>
{% endblock %}
