<!--base_category1.html-->
{% extends "base.html" %}

{% block category %}
<style type="text/css">
div#category {height: 1000px; width:300px; float:right; list-style:none; margin-left: 50px}
</style>
<div id="category">
    <style scoped>
        .button-success {background: rgb(255, 255, 255)}
    </style>
    <h1 style="font-size: 15px; margin-left:14px">Tags</h1>
    <li>
    <a class="button-success pure-button" href="{% url "search_tag" tag='python' %}">python</a>
    </li>
    <li>
    <a class="button-success pure-button" href="{% url "search_tag" tag='c' %}">c</a>
    </li>
    <li>
    <a class="button-success pure-button" href="{% url "search_tag" tag='linux' %}">linux</a>
    </li>
    <li>
    <a class="button-success pure-button" href="{% url "search_tag" tag='life' %}">life</a>
    </li>
    <li>
    <a class="button-success pure-button" href="{% url "search_tag" tag='frontend' %}">frontend</a>
    </li>
    <li>
    <a class="button-success pure-button" href="{% url "search_tag" tag='工作' %}">工作</a>
    </li>
</div>
{% endblock %}
