{% extends "base_category.html" %}

{% load custom_markdown %}
{% block content %}
<div class="posts">
    {% for post in post_list %}
        <section class="post">
            <header class="post-header">
                <h2><a style="font-size: 22px" href="{% url "detail" id=post.id %}"><font color="black">{{ post.title }}</font></a></h2

                <p class="post-meta">
                Time: {{ post.date_time |date:"D d M Y"}}
                <a href="{% url "search_tag" tag=post.category %}"><font color="black">{{ post.category|title }}</font></a>
                </p>
            </header>

                <div class="post-description">
                    <p>
                        {{ post.content|custom_markdown }}
                    </p>
                </div>
                <a class="pure-button" href="{% url "detail" id=post.id %}">Read More</a>
        </section>
        <hr size="10" noshade>
    {% endfor %}
</div><!-- /.blog-post -->
{% endblock %}
