{% extends "base_category.html" %}

{% block content %}
<h1 style="font-size:22px">价值博客们</h1>
<a class="pure-button" href="http://linjiangxian998.com/2014/10/27/hello/">linjiangxian</a>
<a class="pure-button" href="http://blog.csdn.net/hackerain/article/details/8533022">广宇</a>
<a class="pure-button" href="http://mindhacks.cn/">刘未鹏</a>
<a class="pure-button" href="https://julien.danjou.info/blog/2014/openstack-ceilometer-the-gnocchi-experiment">jdanjou</a>
<a class="pure-button" href="http://coolshell.cn/articles/11564.html">酷壳</a>
<a class="pure-button" href="http://ichuan.net">ichuan</a>
<a class="pure-button" href="http://kedebug.com/">上交牛人</a>
<a class="pure-button" href="https://www.anotherhome.net/category/it/fq">范文杰</a>
<a class="pure-button" href="http://www.wzxue.com/">王豪迈</a>
<a class="pure-button" href="http://wuchong.me">wuchong</a>
<a class="pure-button" href="http://gevin-mayblog.daoapp.io">Gevin</a>
{% endblock %}
